body{
    background: #243447;
}

.ContainerMain{
    background: #243447;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ContainerImgs{
    width: 960px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.LogoPrincipal{
    max-width: 30%;
    min-width: 25%;
}

.Computer{
    max-width: 100%;
    min-width: 65%;
}

@media(max-width: 670px){
    .LogoPrincipal{
        max-width: 100%;
    }

    .LogoPrincipal img{
        max-width: 100%;
    }
    
    .Computer{
        justify-content: center;
        max-width: 100%;
    }

    .Computer img{
        max-width: 100%;
    }
}

