.ContainerMain{
    width: 100%;
    height: auto;
    background-color: #243447;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ContainerContent{
    width: 60%;
    max-height: calc(70vh - 110px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    row-gap: 1rem;
    margin: 10% auto 0 auto;
}

.Content{
    background-color: #2E3E51;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
    padding: 10% 0;
}

.Content:hover{
    color: #ffffff;
    background-color: #005CC9;
    border-radius: 10px;
    transition: 1s;
}

.Content span {
    color: white;
    font-size: 22px;
    text-align: center;
    margin-bottom: -1%;
    font-weight: bold;
}

.Content p{
    max-width: 50%;
    color: white;
    font-size: 22px;
    text-align: center;
    padding-top: 24px;
    font-weight: bold;
}

@media screen and (max-width: 700px){
    .ContainerContent{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px){
    .ContainerContent{
        grid-template-columns: 1fr;
    }
}